div#mesas {
    display: flex;
    flex-wrap: wrap;
  
}
button.deliveryButton {
    width: 100%;
    text-align: left;
    height: 60px;
    background: #fffaf2;
    border-bottom: 1px solid #ffeae0;
    display: flex;
    align-items: center;
    color: #9bacb9;
    text-transform: uppercase;
}
button.deliveryButton img{margin-right: 5px;}
div#badgemesa {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    color: #ff9800;
}

.idpedido {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 35px;
    color: #9e9e9e;
}
@media(max-width:600px){
    div#mesas {
       
        width: 100%;
    }
    
}


@media(min-width:769px){
    div#mesas {
       
        width: 50%;
    }
    div#deliveyPedidos{
        width: 50%;
        max-height: 75vh;
        overflow: auto;
    }
    
}